@keyframes creation{
    from{
        transform: scale(0);
    } to{
        transform: scale(1);
    }
}
.files-container{
    background-color: rgba(37, 30, 44, 0.699);
    justify-content: center;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    transition: 0.15s;
    animation-name: creation;
    animation-duration: 1.0s;
}
.files-container:hover{
    box-shadow: rgba(56, 1, 71, 0.45) 0px 25px 20px -20px;
    transform: scale(1.02);

}
.file-name{
    font-size: 11px ;
    font-weight: bold;
    color: rgb(233, 220, 245);
    margin-bottom: 5px;

}
.file-metadata{
    display: flex;
}
.file-path{
    font-size: 7px;
    color:  rgb(154, 146, 162);;
    font-style: italic;
    margin-bottom: 5px;
    margin-right: 5px;
    flex: 2;
    display: inline-block;
}
.file-size{
    color:  rgb(154, 146, 162);;
    font-size: 7px;
    margin-bottom: 5px;
    display: inline-block;
    text-align: right;
    font-weight: bold;
    font-style: italic;

}

.button-container{
    display: flex;
    justify-content: center;
}

.download-button {
    all: unset;
    user-select: none;
    background-color: rgb(84, 25, 139);
    color: rgb(202, 167, 235);
    border: none;
    border-radius: 5px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    transition: 0.15s;
    padding: 5px;
    font-size: 10px;
}
.download-button:hover{
    background-color: rgba(170, 116, 220, 0.504);
    box-shadow: 0px 0px 10px 1px rgba(205, 166, 241, 0.226);
}
.download-button:active{
    background-color: rgb(56, 16, 93);
}